img{
    width: 100%;
}

h1{
    font-weight: 800;
}

h3{
    font-weight: 400;
    font-size: 1.7rem;
}

.table-bordered{
    border-color: black !important;
}

.col-12 .row .col-3 img{
    width: 50px;
}