<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Django project-about</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">About Us</h1>
        <p class="lead">
          This is a simple hero unit, a simple jumbotron-style component for
          calling extra attention to featured content or information.
        </p>
        <hr class="my-4" />
        <p>
          It uses utility classes for typography and spacing to space content
          out within the larger container.
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button"
            >Learn more</a
          >
        </p>
      </div>
      <div class="row">
        <div class="col">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
            incidunt dolore omnis iure blanditiis mollitia repellat cumque?
            Dignissimos hic quod cupiditate. Ducimus omnis exercitationem
            ratione delectus aliquid tenetur id earum dicta. Deserunt, similique
            quam! Ex quasi magni delectus et expedita consequuntur, harum nemo
            eaque voluptate quidem, quaerat aspernatur saepe magnam labore esse
            porro laudantium in. Veniam ad impedit animi doloremque molestias
            consectetur, odio commodi earum voluptates vel dolore repellendus
            itaque tempora laboriosam tempore magnam laudantium debitis qui
            dicta pariatur eum? Excepturi facere, maiores sunt veritatis
            molestias exercitationem officia dicta dolorem assumenda ipsam
            laborum reprehenderit quis est expedita unde, velit laboriosam
            obcaecati architecto sapiente voluptas nesciunt esse nihil?
            Excepturi fugit hic dolorem laboriosam beatae asperiores adipisci
            eos sed natus repellendus aliquam enim ab odio ratione veritatis
            dolor doloribus error quaerat distinctio expedita, ut dignissimos,
            eum iure soluta. Recusandae a rerum in veniam quas aperiam magni sit
            ut aspernatur accusamus saepe sed error praesentium sunt cum
            voluptatibus perferendis, natus ducimus. Qui nulla earum commodi
            nobis recusandae dolorum doloribus? Est, autem. Enim accusantium,
            saepe, excepturi hic natus, optio blanditiis culpa odit temporibus
            quia ducimus quae veniam reprehenderit nemo officiis voluptatum unde
            dolorum cum necessitatibus autem repellat. Exercitationem doloribus
            vero accusamus et possimus! Id error totam iste? Odio cumque, eos
            exercitationem minus quas inventore! Rem molestiae doloremque
            voluptates ipsa, accusantium molestias. Corrupti non ea aut cumque
            laborum facere nobis eligendi animi nemo laudantium doloribus iste
            quibusdam omnis sequi voluptatum optio, repellendus nisi blanditiis
            repudiandae repellat! Nemo, autem amet. Error culpa magni nam
            pariatur voluptatum illum eveniet, itaque consequatur alias
            laudantium suscipit repellendus fugiat iure accusamus. Eaque
            consequuntur molestiae porro aut nesciunt at, nostrum facere odio,
            repudiandae error impedit quibusdam provident, consequatur est quod
            similique voluptatum! Necessitatibus amet accusamus inventore
            nesciunt quae totam minus itaque. Distinctio sapiente nam velit iste
            maiores accusantium dicta quo consequatur!
          </p>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
